
/*

    Sizes

*/

$padding--small: 4px;
$padding--medium: $padding--small*2; // 8
$padding--large: $padding--small*3; // 12
$padding--xlarge: $padding--small*9; // 36
$padding--app: $padding--small*10; // 40

$margin--small: $padding--small;
$margin--medium: $padding--medium;
$margin--large: $padding--large;
$margin--xlarge: $padding--xlarge;
$margin--app: $padding--app;

$border-radius--small: 2px;
$border-radius--medium: $border-radius--small*2;
$border-radius--large: $border-radius--small*4;
$border-radius--xlarge: $border-radius--small*6;

/*

    Colours

*/

$color--branding: #3CDCD2;
$color--branding-background: #01325A;
$color--paper-background: rgba(0, 3, 79, 0.05);

/*

    Shadows

*/

$box-shadow--small: rgba(0, 0, 0, 0.2) 0px 2px 1px -1px, rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
