@import "styles/_variables.scss";



.app-header {
    background-color: $color--branding-background;
    flex-shrink: 0;
    white-space: nowrap;
    align-items: stretch !important;

    &__logo {
        margin-right: $margin--large;
        align-self: center;
        fill: $color--branding;
        color: $color--branding;
        height: 24px;
    }
}