@import "styles/_variables.scss";


.header-nav {
    $self: '.header-nav';
    display: flex;
    flex-direction: row;
    position: relative;
    justify-items: flex-start;
    align-items: stretch;
    width: 100%;

    &__item {
        padding: 0 $padding--large;
        color: #fff;
        text-decoration: none;
        display: flex;
        align-items: center;


        &--active {
            background-color: $color--branding;
            color: $color--branding-background;
        }

        svg {
            margin: 0 $margin--small;
        }
    }

    &__secondary {
        justify-self: flex-end;
        align-self: center;
        margin-left: auto;
        display: flex;
        flex-direction: row;

        #{$self}__item {
            padding-left: $padding--small;
        }
    }


}