@import "styles/_variables.scss";



.file-uploads {
    background-color: $color--paper-background;
    border-radius: $border-radius--xlarge;
    padding: $padding--large $padding--xlarge;
    display: block;
    cursor: pointer;

    &--media {
        border-color: #DBDCDD;
        border-width: 1px;
        border-style: dashed;
        padding: $padding--app;
        align-items: center !important;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        cursor: auto;

        &__drop-icon {
            text-align: center;
            margin-bottom: $margin--medium;

            svg {
                font-size: 48px;
            }
        }

        &__previews {
            position: relative;
            display: flex;
            justify-content: center;
            margin-top: $margin--large;

            &__preview {
                position: relative;
                border-radius: $border-radius--small;
                margin: $margin--small;
                width: 96px;
                height: 96px;
                box-shadow: $box-shadow--small;

                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;

                &__name {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    width: 100%;
                }

                &__icon {
                    flex-shrink: 0;
                    padding-right: $margin--medium;
                }

                .remove {
                    flex-shrink: 0;
                    display: none;
                }

                &:hover {
                    .remove {
                        display: block;
                        position: absolute;
                        top: -5px;
                        right: -5px;
                        cursor: pointer;
                        background-color: #fff;
                    }
                }
            }
        }
    }


    &:focus {
        outline: none;
    }

    > * {
        opacity: 0.6;
    }

    &__drop-icon {
        margin-right: $margin--medium;

        svg {
            font-size: 1em;
        }
    }

    &__previews {

        &__preview {
            text-overflow: ellipsis;
            width: 80%;
            position: relative;
            overflow: hidden;
        }
    }



}