@import "styles/_variables.scss";

.app-body {
    display: block;
    box-sizing: border-box;
    padding: 0 $padding--app;
    margin: $margin--app;


    .app-content-wrapper {
        display: flex;

        &__content, &__sidebar {
            box-sizing: border-box;
            flex-shrink: 0;
            overflow: hidden;

        }

        &__content {
            width: calc(#{percentage(2/3)} - #{$margin--app} - #{$padding--app});
            margin-right: $margin--app;
        }

        &__sidebar {
            width: percentage(1/3);
            margin-left: $margin--app;

            &__section {
                &:not(:first-child) {
                    margin-top: $margin--xlarge;
                }
                font-size: 0.875rem;
            }

            &__tab-panel {
                padding: $padding--large;

                // this is a hack...
                .MuiFormControl-root {
                    margin-bottom: $margin--large;
                }
            }
        }
    }


    .app-sidebar {
        width: percentage(1/3);
    }
}